/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Tarea_Taller_5/src/main/java/com/mycompany/tarea_taller_5/JavaApplication2/nbproject/private/
/Tarea_Taller_5/src/main/java/com/mycompany/tarea_taller_5/JavaApplication2/build/
